:root{ /*Define paleta de colores*/
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;

    --fuente-principal: 3.8rem;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
/*1rem = 10 píxeles, pero se adaptaran mejor para
pantallas con alta densidad de pixeles. Para eso,agregamos
los primeros estilos a html y body al inicio de style.css*/
.titulo{ 
    text-align: center;                      
    font-size: var(--fuente-principal);     
    color: var(--primario);
}

.titulo span{
    font-size: 2rem;
}

.navegacion-principal{
    background-color: var(--secundario);
}