:root{ /*Define paleta de colores*/
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #dfe9f3;

    --fuente-principal: 3.8rem;
}
.sombra{
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    background-color: var(--blanco);
    padding: 2rem 2rem;
    border-radius: 1rem;

}
html{
    font-size: 62.5%;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}
/*1rem = 10 píxeles, pero se adaptaran mejor para
pantallas con alta densidad de pixeles. Para eso,agregamos
los primeros estilos a html y body al inicio de style.css*/
.titulo{ 
    text-align: center;                      
    font-size: var(--fuente-principal);     
    color: var(--oscuro);
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8;
}
h3{
    font-size: 1.8;
}
h1,h2,h3{
    text-align: center;
}

.navegacion-principal{

    display: flex;
    flex-direction: column; /* funciona juntoma la linea @media (min-width: 768px*/
    justify-content: space-between;
    align-items: center;


}
@media (min-width: 768px){ /*a que tamaño se va a tomar el media query*/
    .navegacion-principal{
        flex-direction: row;
    }
}
.nav-bg{
    background-color: var(--secundario);
}

.contenedor{
    max-width: 120rem; /*Limita a 1200 pixeles como maximo*/
    /*
    margin-top: 0;
    margin-right: auto;
    margin-bottom:0;
    margin-left: auto;
    es lo mismo que la línea de abajo, como aguja de reloj*/
    margin: 0 auto 0 auto;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
@media (min-width: 480px) {
    .boton{
        width: auto;
    }
}
.nav-bg a{
    display: block;
    text-align: center;
    color: var(--blanco);    
    text-decoration: none; /*Saca el subrayado*/
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem; /*1 rem = 4 veces*/
}


.nav-bg a:hover {
    background-color: var(--primario);
    color: var(--oscuro)
}


@media (min-width: 480px) {
    
    h1 "Crea un media Querie": {
        "prefix": "mq",
        "body": "@media (min-width: $1) {\n  $2\n}"
    }
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* cubre todo el ancho donde esta la imagen*/
    height: 450px;
    position:relative;
    margin-bottom: 2rem;

}
.contenido-hero{
    position: absolute;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
/* Para alinear vertical u horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2 .contenido-hero p{
    color:var(--blanco)
    }

.contenido-hero .ubicacion{
    display:flex;
    align-items:flex-end;
}

/* Servicios */
@media (min-width:768px){
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}

.servicio p{
    line-height: 2;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly; /*Para alinear*/
    align-items: center;
}